{{ "<!-- about Section -->" | safeHTML }}
<style>
    .wrap{
        margin:0 auto;
        width:2000px;
        height:200px;
    }  
    .wrap .a{
        float:left;
        width:100px;
        height:50px;
    }
    .wrap .a img{
        width:100px;
        height:50px;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
    }
    .text_center
    {
        text-align: center;
    }
    .round_icon{
        width: 300px;
        height: 300px;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

</style>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.about.title }}{{.}}{{ end }}</h2>
                <hr class="star-primary">
            </div>
        </div>

        <table class="center">
            <tr>
                <th>
                <img class="img-responsive" src="img/{{ with .Site.Params.about.author }}{{ . }}{{ else }}profile.png{{ end }}" alt="" > 
                </th>
                <th>
                    <img class="img-responsive" src="img/{{ with .Site.Params.about.author }}{{ . }}{{ else }}profile.png{{ end }}" alt="" > 
                </th>
                <th>
                    <img class="img-responsive" src="img/{{ with .Site.Params.about.author }}{{ . }}{{ else }}profile.png{{ end }}" alt="" > 
                </th>
                <th>
                    <img class="img-responsive" src="img/{{ with .Site.Params.about.author }}{{ . }}{{ else }}profile.png{{ end }}" alt="" > 
                </th>
            </tr>
            <tr>
                <th class="text_center">
                    <p>Xing Zhang</p>
                    <p>Fudan, BigVid Lab</p>
                </th>
                <th class="text_center">
                    <p>Zuxuan Wu</p>
                    <p>Fudan, BigVid Lab</p>
                </th>
                <th class="text_center">
                    <p>Zejia Weng</p>
                    <p>Fudan, BigVid Lab</p>
                </th>
                <th class="text_center">
                    <p>Huazhu Fu</p>
                    <p>IIAI, UAE</p>
                </th>
            </tr>
        </table>
        <table class="center">
            <tr>
                <th>
                <img class="img-responsive" src="img/{{ with .Site.Params.about.author }}{{ . }}{{ else }}profile.png{{ end }}" alt="" > 
                </th>
                <th>
                    <img class="img-responsive" src="img/{{ with .Site.Params.about.author }}{{ . }}{{ else }}profile.png{{ end }}" alt="" > 
                </th>
                <th>
                    <img class="img-responsive" src="img/{{ with .Site.Params.about.author }}{{ . }}{{ else }}profile.png{{ end }}" alt="" > 
                </th>
            </tr>
            <tr>
                <th class="text_center">
                    <p>Jingjing Chen</p>
                    <p>Fudan, BigVid Lab</p>
                </th>
                <th class="text_center">
                    <p>Yu-Gang Jiang</p>
                    <p>Fudan, BigVid Lab</p>
                </th >
                <th class="text_center">
                    <p>Larry Davis</p>
                    <p>University of Maryland</p>
                </th>
            </tr>
        </table>
        <br></br>
        <!-- <div class="wrap">
            <div class="a" style="margin-right:40px">
                    <img class="img-responsive" src="img/{{ with .Site.Params.about.author }}{{ . }}{{ else }}profile.png{{ end }}" alt="" >
                        <p class="text-center">Xing Zhang</p>
            </div>
            <div class="a" style="margin-right:40px">
                    <img class="img-responsive" src="img/{{ with .Site.Params.about.author }}{{ . }}{{ else }}profile.png{{ end }}" alt="" >
                    <p class="text-center">  {{ with .Site.Params.about.author2.name }}{{.}}{{ end }}</p>
            </div>
            <div class="a" style="margin-right:40px">
                    <img class="img-responsive" src="img/{{ with .Site.Params.about.author }}{{ . }}{{ else }}profile.png{{ end }}" alt="" >
                    <p class="text-center">  {{ with .Site.Params.about.author3.name }}{{.}}{{ end }}</p>
            </div>
            <div class="a">
                <img class="img-responsive" src="img/{{ with .Site.Params.about.author }}{{ . }}{{ else }}profile.png{{ end }}" alt="" >
                <p class="text-center">  {{ with .Site.Params.about.author3.name }}{{.}}{{ end }}</p>
            </div>
        </div>


        <div class="wrap">
            <div class="a" style="margin-right:40px">
                    <img class="img-responsive" src="img/{{ with .Site.Params.about.author }}{{ . }}{{ else }}profile.png{{ end }}" alt="" >
                        <p class="text-center">Xing Zhang</p>
            </div>
            <div class="a" style="margin-right:40px">
                    <img class="img-responsive" src="img/{{ with .Site.Params.about.author }}{{ . }}{{ else }}profile.png{{ end }}" alt="" >
                    <p class="text-center">  {{ with .Site.Params.about.author2.name }}{{.}}{{ end }}</p>
            </div>
            <div class="a" style="margin-right:40px">
                    <img class="img-responsive" src="img/{{ with .Site.Params.about.author }}{{ . }}{{ else }}profile.png{{ end }}" alt="" >
                    <p class="text-center">  {{ with .Site.Params.about.author3.name }}{{.}}{{ end }}</p>
            </div>
        </div> -->
        


        <div class="col-lg-12 text-center">
            <h2>Contact us</h2>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <form  action="https://formspree.io/f/xwkapzpz" method="POST" name="sentMessage" id="aboutForm" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>{{ with .Site.Params.about.form.name.text }}{{.}}{{ end }}</label>
                            <input type="text" name="name" class="form-control" placeholder="{{ with .Site.Params.about.form.name.text }}{{.}}{{ end }}" id="name" required data-validation-required-message="{{ with .Site.Params.about.form.name.error }}{{.}}{{ end }}">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>{{ with .Site.Params.about.form.email.text }}{{.}}{{ end }}</label>
                            <input type="email" name="_replyto" class="form-control" placeholder="{{ with .Site.Params.about.form.email.text }}{{.}}{{ end }}" id="email" required data-validation-required-message="{{ with .Site.Params.about.form.email.error }}{{.}}{{ end }}">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>{{ with .Site.Params.about.form.phone.text }}{{.}}{{ end }}</label>
                            <input type="tel" class="form-control" placeholder="{{ with .Site.Params.about.form.phone.text }}{{.}}{{ end }}" id="phone" required data-validation-required-message="{{ with .Site.Params.about.form.phone.error }}{{.}}{{ end }}">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div>
                        <input type="hidden"  name="_subject" value="New submission!">
                        <input type="text" name="_gotcha" style="display:none" />
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>{{ with .Site.Params.about.form.message.text }}{{.}}{{ end }}</label>
                            <textarea rows="5" name="message" class="form-control" placeholder="{{ with .Site.Params.about.form.message.text }}{{.}}{{ end }}" id="message" required data-validation-required-message="{{ with .Site.Params.about.form.message.error }}{{.}}{{ end }}"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-success btn-lg">{{ with .Site.Params.about.form.button.text }}{{.}}{{ end }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
