{{ "<!-- download Section -->" | safeHTML }}
<style type="text/css">
    pre code {

  text-align: left;
  padding: 1px;
}
    bgcolor {
        background-color: #1d4e4e;
    }
</style>
<section class="success" id="download">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.download.title }}{{.}}{{ end }}</h2>
                <hr class="star-light">
            </div>
        </div>
        
    <div class="row text-center" >
        <p>V1.0 is available now! Wanna take a try? : )</p>
        <a href="{{ with .Site.Params.download.button0.link }}{{.}}{{ end }}" class="btn btn-lg btn-outline" style="margin-right:40px;color:#000000">
            <i class="fa fa-{{ with .Site.Params.download.button0.icon }}{{.}}{{end}}"></i> {{ with .Site.Params.download.button0.text }}{{ . }}{{ end }}
        </a>
        <a href="{{ with .Site.Params.download.button1.link }}{{.}}{{ end }}" class="btn btn-lg btn-outline" style="margin-right:40px;color:#000000">
            <i class="fa fa-{{ with .Site.Params.download.button1.icon }}{{.}}{{end}}"></i> {{ with .Site.Params.download.button1.text }}{{ . }}{{ end }}
        </a>
    </div>
    <div class="row text-center">

        <br></br>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <!-- <p>{{ with .Site.Params.download.news }}{{ . | markdownify }}{{ end }}</p>
            <p>{{ with .Site.Params.download.describe }}{{ . | markdownify }}{{ end }}</p> -->
 

            
            <p><i class="fa fa-pencil"></i>Describe:</p>
            <ul>
                <li>ResNet-50, ResNet-101 and TSM(ResNet-50) features are of size [150, 2048] for each video (frames: 150, feature size: 2048).</li>
                <p> </p>
                <li>ResNet-50 and ResNet-101 features are pretrained on ImageNet, TSM(ResNet-50) feature is pretrained on Kinetics.</li>
                <p></p>
                <li>Annotation format: 
                    <p style=font-size:15px>train.lst, validate.lst, test.lst </p>
                    <pre style="background-color: #E6E6E6">
                        <code>
vid label_id
xYjQkWxF8h0 126
GtDLgqe-qiM 382
u9KATdP5bNo 369
04qmkPTuRmQ 155
BFh8aa7asvw 745
6U4SxTJ71Xk 425
_7iRdKirjIk 282
QRgUdZUyu1U 722
...
                        </code>
                        </pre>
                        <p style=font-size:15px> count-labels-train.lst </p>
                        <pre style=background-color:#E6E6E6>
                            <code>
label label_id num
3DPainting 0 137.0
3DPrinter 1 308.0
ACappella 2 87.0
ATM 3 60.0
AngkorWat 4 233.0
BabyLearningToEatWithSpoon 5 212.0
BigBen 6 102.0
ChineseBrushWriting 7 117.0
...
                            </code>
                        </pre>
            
                </li>
            </ul>


        </div>
           



            <!-- <div class="col-lg-4">
                <p>{{ with .Site.Params.download.right }}{{ . | markdownify }}{{ end }}</p>
            </div> -->
            <div class="row">
               
            
            <div class="col-lg-4 col-lg-offset-2">
                <p><i class="fa fa-bomb"></i>News:</p>
                <ur>
                    <li>
                    (04/25/2021) VideoLT v1.0 is released, download link coming soon...
                    </li>
                    <li style="color:rgb(236, 203, 141)">
                    [Important] Currently, VideoLT can only be accessed by sending us an e-mail: <a>zhangxing18@fudan.edu.cn</a>.
                    </li>
                </ur>
                <br></br>
                
                <p><i class="fa fa-coffee"></i>Features:</p>
                <p>
                    <a href="{{ with .Site.Params.download.button2.link }}{{.}}{{ end }}" class="btn btn-lg btn-outline" style=font-size:15px;color:#000000 >
                        <i class="fa fa-{{ with .Site.Params.download.button2.icon }}{{.}}{{end}}"></i> {{ with .Site.Params.download.button2.text }}{{ . }}{{ end }}
                    </a>
            
                    <a href="{{ with .Site.Params.download.button3.link }}{{.}}{{ end }}" class="btn btn-lg btn-outline" style=font-size:15px;color:#000000>
                            <i class="fa fa-{{ with .Site.Params.download.button3.icon }}{{.}}{{end}}"></i> {{ with .Site.Params.download.button3.text }}{{ . }}{{ end }}
                    </a>
            
                    <a href="{{ with .Site.Params.download.button4.link }}{{.}}{{ end }}" class="btn btn-lg btn-outline" style=font-size:15px;color:#000000>

                            <i class="fa fa-{{ with .Site.Params.download.button4.icon }}{{.}}{{end}}"></i> {{ with .Site.Params.download.button4.text }}{{ . }}{{ end }}
                    </a>
                </p>
                <br></br>

                <p><i class="fa fa-search"></i>Citation: </p>
                <p style=font-size:15px>If VideoLT helps your work, please consider citing:</p>
                <pre style=background-color:#E6E6E6>
                    <code>
@misc{zhang2021videolt,
title={VideoLT: Large-scale Long-tailed Video Recognition}, 
author={Xing Zhang and Zuxuan Wu and Zejia Weng and Huazhu Fu and Jingjing Chen and Yu-Gang Jiang and Larry Davis},
year={2021},
eprint={2105.02668},
archivePrefix={arXiv},
primaryClass={cs.CV}
}
                    </code>
                </pre> 
                
            </div>
        </div>
    </div>

    </div>
</section>
