{{ "<!-- portfolio Modals -->" | safeHTML }}
<style>
.text_center
{
    text-align: center;
}
.dist_style
{
    background-color: white;
}
.dist_style h2{
    color: black;
}

.dist_style p{
    color:black;
}
.box{
 
            position:absolute;
            top:auto;
            left:50%;
            transform:translate(-50%,0%);
        }

</style>

<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="js/echarts.min.js"></script>
</head>

<div class="portfolio-modal modal fade dist_style" id="portfolioModal{{ 4 }}" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-body" >
        <br></br>
        <h2>Visualization of Long-tailed Distribution</h2>
        <hr class="star-primary">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
        <br></br>
        <img src="img/dynamic/LT_level.png" class="img-responsive img-centered" alt="" style=width:500px>
        <p>Figure1. Histogram of class frequency of VideoLT</p>
        <img src="img/dynamic/vdata.png" class="img-responsive img-centered" alt="" style=width:500px> 
        <p>Figure2. Compare with existing video recognition datasets in logarithmic coordinate system</p>
    </div>
</div>



<div class=" modal fade dist_style" id="portfolioModal{{ 6 }}" tabindex="-1" role="dialog" aria-hidden="true" style=background-color:white>
    <div class="modal-body" >
        <br></br>
        <h2>Taxonomy System</h2>
        <hr class="star-primary">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
        <br></br>

        <div class="box">
            <div id="main" style="width: 1200px;height:1200px; " > </div>
            <script type="text/javascript" src='js/taxonomy.js'>
        
            </script>
        </div>
    </div>
</div>
<!-- TODO: add search videos -->